/* CSS proberties (~variables) */
:root {
    /* THEMES */
    --theme-main: #747fe2;
    --theme-main-hover: #77abdb;
    --theme-main-active: #354757;

    /* BACKGROUNDS */ 
    --white: white;
    --light: #e7e6e7;
    --dark: #3d4557;
    --dark-light: #5a5d63;

    /* FONTS */
    --sidebar-dropdown-btn: #b9b8b8;
    --sidebar-dropdown-btn-hover: #dfdfdf;
    --sidebar-inner-dropdown: #949494;

    /* SCROLLBARS */ 
    --scrollbar-track: transparent;
    --scrollbar-thumb: #7a7a7a;
    --scrollbar-thumb-hover: #a5a5a5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light);
    overflow-y: hidden; /*Instead: Scrollbars in individual divs*/
}

#main-wrapper {
    min-height: -webkit-fill-available; /*Fix for: URL bar dispears upon scroll in mobile -> Height alters */
}

.shadow {
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.filler {
    flex-grow: 1; /* Push following elements to end in flex direction*/
}

/*_____________________ HEADER ______________________*/

#header {
    height: 65px;
    padding: 0 20px 0 20px;

    display:flex; /*Flexbox parent*/
    align-items: center; /*Cross-section*/ 
    flex-wrap:nowrap;

    background-color: var(--white);

    z-index: 3; /*Display shadow above lower z-index elements*/
    position: relative;
}

#hamburger {
    height:26px;
    fill: var(--dark-light);
    cursor: pointer;
}

#hamburger:hover {
    fill: var(--theme-main);  
}

#hamburger:active {
    fill: var(--theme-main-active);
}

#img-logo {
    height:35px;
    padding-left: 10px;

    user-select: none; /* Avoid turning it blue*/
}

#header-child-2 {
    flex-grow: 1;
    padding-left: 20px;
}

#header-child-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-child-3 * {
    margin-left: 20px;
}

#header-child-3 #btn-end-demo {
    display: none;
}

#header-child-3 #label-name {
    color: grey;
}

#header-child-3 #img-profile {
    cursor: pointer;
    height: 50px;
    border-radius: 50%; /* Make round*/
    box-sizing: border-box; /* Inline border*/
}

#header-child-3 #img-profile:hover {
    border: 2px solid var(--theme-main);
}

/*Client profile adaption */
#main-wrapper.not-logged-in #header-child-3 #label-name,
#main-wrapper.not-logged-in #header-child-3 #img-profile,
#main-wrapper.developer #header-child-3 #link-register,
#main-wrapper.developer #header-child-3 #btn-login,
#main-wrapper.admin #header-child-3 #link-register,
#main-wrapper.admin #header-child-3 #btn-login  {
    display: none;
}

#main-wrapper.demo-mode #header-child-3 #btn-end-demo {
    display:inline;
}

/*_____________________ SIGN IN ______________________*/
/* Login & Register slide down window */

#sign-in {
    position: fixed;
    background-color: white;
    border-radius: 0 0 12px 12px;
    width: 250px;
    height: 190px;
    top: -140px;
    padding: 12px;
    right: 50px;
    z-index: 2;

    display: flex;
    flex-direction: column;

    transition-property: top;
    transition-duration: 0.6s;
}

#sign-in.display {
    top: 65px;
}

#sign-in-header {
    display:flex; 
    margin-bottom: 8px;
}

#sign-in-label {
    align-self: flex-end;
}

#sign-in-close {
    margin-left: auto; /*Push to right */   
}

#sign-in-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4px;
}

#sign-in #link-demo {
    margin-left: 4px;
}

#sign-in #link-demo.hide {
    visibility: hidden; /* Still occupy the space */
}

#sign-in form {
    width: 100%;
    box-sizing: border-box; 
}

#sign-in input {
    box-sizing: border-box; /* border inside div */
    width: 100%;
    
    font-size: 15px;
    border-radius: 5px;
    outline: none; /* Disable auto-border*/
    border:2px solid var(--theme-main-hover);
    padding: 6px 0 6px 6px;
    margin-bottom: 8px;  
}

#sign-in input:focus {
    box-shadow: 0 0 8px var(--theme-main-hover);
}

/*_________________ CONTENT-WRAPPER __________________*/
/* = Below header. Includes sidebar and content containers*/

#content-wrapper {    
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:65px; /*Below header*/ 
}

/*____________________ SIDEBAR _______________________*/

#sidebar {
    width: 300px;
    z-index: 1; /*Bring to front*/
    position: absolute;
    bottom: 0;
    top: 0;
    left: -300px; /*Hide as default*/

    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    background-color: var(--dark);

    transition-duration: 0.6s;
}

#sidebar:hover {
    overflow-y: auto; /* Show scrollbar if needed*/
    overflow: overlay; /* Place scrollbar on top of content*/
}

#sidebar #close {
    margin-left: auto;
    margin-bottom:-20px;
    z-index: 1;
}

/* Default: Collapse dropdownable content */ 
#sidebar .dropdownable { 
    max-height: 0;
    overflow: hidden;
}

/* Expand dropdownable content if class dropdown is added to parent div */
.dropdown .dropdownable{ 
    max-height:970px !important;

    transition-property: max-height;
	transition-duration: 2s;
}

.btn-sidebar {
    transition-property: padding-left;
    transition-duration: 0.6s;
}

.btn-sidebar .arrow {
    margin-right: 10px;
    transition-property: transform;
	transition-duration: 0.6s;
}

/* Alter drop down button when content is dropped down */
.dropdown .btn-sidebar {
    color:white;
    padding-left: 30px;
}

/* Alter drop down arrow when content is dropped down */
.dropdown .btn-sidebar .arrow {
    transform: rotateZ(90deg);
}

/* Content of drop down*/
#sidebar .dropdown-inner {
    margin: 8px;
    border-radius: 5px;
    padding: 12px;
    background-color: var(--dark-light);
    color: white;
}

/* Sidebar display: Move sidebar in from left */
#main-wrapper.menu-displayed  #sidebar {
    left: 0;
}

#main-wrapper.big-screen  #sidebar {
    overflow-y: hidden; /* Hide until hover*/
}

#main-wrapper.big-screen  #sidebar:hover {
    overflow-y: auto; /* Show scrollbar if needed*/
    overflow: overlay; /* Place scrollbar on top of content*/
}

/*Client profile adaption */
#main-wrapper.not-logged-in #sidebar #edit-profile,
#main-wrapper.not-logged-in #sidebar #admin-tools,
#main-wrapper.not-logged-in #sidebar #btn-logout,
#main-wrapper.developer #sidebar #admin-tools,
#main-wrapper.admin #sidebar #edit-profile {
    display: none;
}

#sidebar input[type=text],
#sidebar input[type=email],
#sidebar input[type=number],
#sidebar textarea { 
    box-sizing: border-box; /* border inside div */     
    font-size: 15px;
    border-radius: 5px;
    outline: none; /* Disable auto-border*/
    border:none;
    padding: 5px 0 5px 5px;
    background-color: grey;
    width: 97%;
    margin-bottom: 8px;
    color: white;
    cursor: pointer;

    /* For text area */
    resize: none;
    font-family: Arial;
}

#sidebar input[type=text]:hover,
#sidebar input[type=email]:hover,
#sidebar input[type=number]:hover,
#sidebar textarea:hover {
    box-shadow: 0 0 8px var(--theme-main-hover);
}

#sidebar textarea {
    height: 80px;
}

/* Remove arrows from number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* Slider labels*/
#sidebar label {
    display:inline-block;
    min-width: 30%;
}

#sidebar label#price-selected {
    box-sizing: border-box; /* border inside div */     
    font-size: 15px;
    border-radius: 5px;
    outline: none; /* Disable auto-border*/
    border:none;
    padding: 5px;
    background-color: grey;
    margin-bottom: 8px;
    color: white;
    cursor: pointer;
    text-align: center;
}

#sidebar .slider {
    margin-top: 10px;
    width: 65%;
}

#sidebar .title {
    color: var(--sidebar-inner-dropdown);
    user-select: none; 
}

#sidebar #profile-submit {
    display:flex;
}

#sidebar #profile-submit * {
    margin-right: 8px;
}

#sidebar #filter-search #filter-skills {
    margin-top:5px;
}

#sidebar #filter-search #search-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
}

#sidebar #admin-tools #admin-add-submit {
    margin-top: 5px;
}

/*_____________________ CONTENT ______________________*/

#content {
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    

    transition-property: padding;
    transition-duration: 0.6s;
}

/* Sidebar display: Big screen */
#main-wrapper.big-screen.menu-displayed  #content {
    padding-left: 300px;
}

#welcome-card {
    width: 400px;
    min-height: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 12px;
}

#welcome-card .welcome-header {
    width: -webkit-fill-available;
    border-radius: 12px 12px 0 0;
    padding: 12px;
    /* background-color: var(--theme-main); */
    background-color:var(--theme-main); 
    color: white;
}

#welcome-card .welcome-content {
    padding: 20px;
}

/*______________________ POP-UP ________________________*/

#popup-container {
    /* Place above all other content*/
    display: none; /* Hidden by default */
    position: absolute;
    
    height: 100%;
    top:0;
    left: 0;
    right:0;
    z-index: 5; 
}

#popup-container.display {
    display: flex;
    justify-content: center;
}

#main-wrapper.big-screen.menu-displayed #popup-container {
    padding-left:300px;
}

#popup {
    /* display: none; /* Hidden by default */
    position: absolute;
    display: table;
    margin: 0 auto;
    margin-top: 125px; 
    border-radius: 12px;
    overflow: auto;
    min-width: 400px;
    max-width: 500px;
    background-color: white; 
 }

 #popup-header {
    width: -webkit-fill-available;
    border-radius: 12px 12px 0 0; 
    padding: 12px;
    background-color:var(--theme-main); 
    color: white;
}

#popup-msg {
    padding:  12px 12px 0 12px;
}

#popup-discard {
    float: right;
    text-align: center;
    width: 90px;
    margin: 12px;
    margin-top: -8px;
}
/*____________________ SCROLL BAR _______________________*/

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: var(--scrollbar-track);
      margin-bottom: 4px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb); 
      border-radius: 3px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb-hover);
    }

/*______________________ BUTTONS ________________________*/

button, input[type=submit] {
    border: none;
    outline: none; /*Avoid border appearing when clicked*/
    color: #ffffff;
    
    padding: 10px 15px; 
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* allow alignemt beside */
    font-size: 15px;
    cursor: pointer;
}

.btn-floating {
    background-color: var(--theme-main);
    font-weight: bold;
}

.btn-floating:hover {
    background-color: var(--theme-main-hover);;
}

.btn-floating:active {
    background-color: var(--theme-main-active);;
}

.btn-sidebar {
    width: 100%;
    border-radius: 0;
    margin: 0;
    text-align: start;
    color: var(--sidebar-dropdown-btn);
    padding-left: 20px;
    background-color: transparent;
}

.btn-sidebar:hover {
    color: var(--sidebar-dropdown-btn-hover);  
}

a {
    color: var(--theme-main); 
}

a:hover {
    color: var(--theme-main-hover);
}

/*______________________ SLIDER ________________________*/

.slider {
    -webkit-appearance: none;
    height: 12px;
    background: linear-gradient(90deg, var(--theme-main) 60%, grey 60%);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.slider:hover {
    box-shadow: 0 0 8px var(--theme-main-hover);
}

/* Google Chrome */
.slider::-webkit-slider-thumb { 
    visibility: hidden;
}
/* Mozilla Firefox */
.slider::moz-range-thumb {
    visibility: hidden;
}

/*_____________________ CHECKBOX _________________________*/
/* Copied and adapted from: 
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    color: var(--sidebar-inner-dropdown);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: grey;
}
  
/* On mouse-over, add a DevUp theme color */
.checkbox-container:hover input ~ .checkmark {
    background-color: rgb(161, 161, 161);
}

/* On mouse-over, change font color */
.checkbox-container:hover {
    color: white !important;
}
  
/* When the checkbox is checked, add a DevUp theme color */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--theme-main);
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*_________________ RESPONSIVE HEADER _____________________*/
/* All other responsiveness is handled in 'script.js' */

@media only screen and (max-width: 600px) {
    #header-child-3 #label-name {
        display: none;
    }
    #popup {
        min-width: 70%;
        max-width: 85%;
    }
}

@media only screen and (max-width: 370px) {
    #header-child-2 #img-logo {
        display: none;
    }
    #sign-in {
        right: 20px;
    }
}
